body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("kg.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

p {
    color: #666;
    text-align: center;
    margin-top: 20px;
}

.menu {
    position: relative;
    margin: 10px;
}

.menu-btn {
    font-size: 24px;
    cursor: pointer;
    user-select: none;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.menu-content {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    width: 200px;
    border-radius: 5px;
}

.menu-content a {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}

.menu-content a:hover {
    background-color: #ddd;
}

.menu:hover .menu-content {
    display: block;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

input[type="file"] {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
}

select {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: ;
    color: black;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #007bff;
}

p[style="color: red;"] {
    color: red;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}
